
.navbar {

  background-color: navy;
}


.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#slider {
  width: 1080px;
  height: 500px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#slider .slides{
  display: block;
  width: 36000px;
  height: 500px;
  margin: 0;
  padding: 0;
}

#slider .slide{
  float: left;
  list-style-type: none;
  width: 1080px;
  height: 500px;
}

#slider img {
  width: 1080px;
  height: 500px;
}


.learn-more {
  background-color: skyblue;
  color: #ffffff;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.page-contents {
    background-color: aliceblue;
    border-bottom:1px solid #dbdbdb;
    }
    
.page-contents h2 {
    color: #393c3d;
    font-size: 24px;
    }
    
.page-contents p {
    font-size: 15px;
    margin-bottom: 13px;
    }

.page-contents img {
    height: 200px;
    }

#footer {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: navy;
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
  }

#footer p {
    position: relative;
    padding: 0px;
    margin: 0px;
  }

#header {
    z-index: 1;
    position: fixed;
    width: 97.5%;
    margin-top: -20px;
    height: 60px;
    background-color: #668284;
    margin-bottom: 10px;
  }
